name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - 2.**

env:
  TODO: >-
    --deb-changelog 
  DEB_FPM_OPTS: >-
    --prefix '/'
    --config-files /etc/kvrocks/kvrocks.conf
    --config-files /etc/systemd/system/kvrocks.service.d/debian.conf
    --config-files /etc/logrotate.d/kvrocks
  COMMON_FPM_OPTS: >-
    -s dir
    -n kvrocks
    --verbose
    -a native
    --description 'A distributed key value NoSQL database that uses RocksDB as storage engine and is compatible with Redis protocol'
    --url 'https://kvrocks.apache.org'
    --license 'Apache-2.0'
    --conflicts redis
    --conflict redis-server
    --provide redis
    --provide redis-server
    --after-install kvrocks.postinst

jobs:
  release-packages:
    name: Release DEB Package
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.0.0
        with:
          fetch-depth: 64

      - name: Install Dependencies
        run: |
          sudo apt-get install -y git build-essential cmake libtool python3

      - name: Set env variables
        run: |
          echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV
          echo "ITERATION=$(cat ITERATION)" >> $GITHUB_ENV
          
      - name: Tag version and push
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git tag "v${{ env.VERSION }}" --force
          git push origin "v${{ env.VERSION }}" --tag --force
          
      - name: Build
        run: |
          git clone -b "v${{ env.VERSION }}" https://github.com/apache/kvrocks.git
          cd kvrocks
          ./x.py build -DPORTABLE=1 -DCMAKE_BUILD_TYPE=Release -j $(nproc)
      
      - name: Make DEB release directory
        run: |
          mkdir release
          mkdir release/etc
          mkdir release/etc/systemd
          mkdir release/etc/systemd/system
          mkdir release/etc/systemd/system/kvrocks.service.d
          mkdir release/lib
          mkdir release/lib/systemd
          mkdir release/usr
          mkdir release/usr/bin
          mkdir release/usr/share
          mkdir release/usr/share/kvrocks
          ls -ail kvrocks
          cp kvrocks/build/kvrocks release/usr/bin/
          cp kvrocks/build/kvrocks2redis release/usr/bin/
          cp kvrocks/kvrocks.conf release/etc/kvrocks
          cp kvrocks.logrotate release/etc/logrotate.d/kvrocks
          cp -r kvrocks/LICENSE kvrocks/NOTICE kvrocks/licenses release/usr/share/kvrocks
          cp kvrocks/utils/systemd/kvrocks.service release/lib/systemd/system/kvrocks-server.service
          cp systemd_debian.conf release/etc/systemd/system/kvrocks.service.d/debian.conf

      - name: Package DEB
        uses: bpicode/github-action-fpm@v0.9.3
        with:
          fpm_args: '.'
          fpm_opts: '-t deb -v ${{ env.VERSION }} --iteration ${{ env.ITERATION }} -C release ${{ env.COMMON_FPM_OPTS }} ${{ env.DEB_FPM_OPTS }}'
      
      - name: Release
        uses: softprops/action-gh-release@v2.0.6
        with:
          tag_name: v${{ env.VERSION }}
          name: |
            ${{ env.VERSION }}-${{ env.ITERATION }}
          files: |
            ./*.deb
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
